ANCHOR_PROVIDER_URL=https://api.devnet.solana.com                                                                                                
ANCHOR_WALLET=~/.config/solana/id.json                        
PROGRAM_ID=EF19YVUerm5QW1CsZeqiPDAFFtaXgdt6WuYBGeiz9Q1z 